name: Bot Licitaciones Celular

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  procesar-licitaciones:
    name: Bot Ejecucion Celular
    runs-on: self-hosted
    timeout-minutes: 1440 

    steps:
      - name: 游닌 Descargar c칩digo
        uses: actions/checkout@v4

      - name: 游닍 Instalar dependencias
        run: |
          # 1. Instalar herramienta para a침adir repositorios
          apt update && apt install software-properties-common -y

          # 2. A침adir el PPA 'xtradeb' (Truco para evitar Snap en Termux)
          add-apt-repository ppa:xtradeb/apps -y
          apt update

          # 3. Instalar Chromium, Driver y LIBRER칈AS DE SISTEMA (Cruciales)
          # Sin estas librer칤as (libnss3, libatk, etc), el navegador crashea al instante
          apt install chromium chromium-driver libnss3 libatk1.0-0 libatk-bridge2.0-0 libcups2 libxkbcommon0 libxcomposite1 libxdamage1 libxrandr2 libgbm1 libasound2 -y

          # 4. Instalar librer칤as de Python
          pip3 install -r requirements.txt --break-system-packages --ignore-installed

      - name: 游 Ejecutar Bot
        env:
          GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
          SHEET_ID: ${{ secrets.SHEET_ID }}
          DRIVE_FOLDER_ID: ${{ secrets.DRIVE_FOLDER_ID }}
        run: |
          python3 main.py --lote 1 --total_lotes 1
